asgiref==3.9.1
autopep8==2.3.2
Django==5.2.6
django-debug-toolbar==6.0.0
django-taggit==6.1.0
django-widget-tweaks==1.5.0
numpy==2.2.6
pandas==2.3.3
pillow==11.3.0
psycopg2==2.9.10
pycodestyle==2.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.15.0
tzdata==2025.2
